**/*.tfstate*
**/*.tfplan
**/tfplan
**/*.tftest.hcl
AGENTS.md
docs/
**/*.bak
**/*.out
**/.terraform/*
**/.terraform.*
**/.DS_Store
**/crash.log
**/.csv
*.pem
**/terraform.tfvars
**/terraform_*.tfvars
**/vars_*.tfvars
**/test/**
**/tests/**
*.csv
*.xlsx
*.html
**/*auto.tfvars
**/tf-facade-*
**/*-example.json
examples/**/output/*.json
**/examples/**/output/*.json
**/examples/**/dependencies/*.json
**/*.ignore
